/* Navigation for listing that includes all FAQ categories */
#content ul.qa-nav {
	list-style:none;
	padding-left: 0;
}
ul.qa-nav {
	overflow:hidden; 
	margin:20px 0;
	padding:0;
}
.qa-nav li {
	margin-right:10px; 
	display:inline-block;
}
.qa-nav li:first-child::before {
	content:"";
	margin-right:0;
}
/* FAQs */
.qa-faqs .faqs {
	margin:15px 0; 
	margin-bottom:40px; 
	overflow:hidden;
	clear:both;
}
.qa-faqs dl {
	border-bottom: 1px solid #BFBFBF; 
	margin-bottom:5px;
}

.qa-faqs dt {
	border-top: 1px solid #CCC;
	padding: 20px 0;
	margin:0;
}
.qa-faqs dd {line-height: 1.4em; padding:0 0 25px 5px;}

/* Controls to expand and collapse FAQs */
.qa-faqs button {
	font-weight:bold;
	color: #0021A5;
	line-height: 16px;
	background: transparent; 
	padding: 0 0 0 20px;					
	font-family: inherit;
	text-transform: none;
	text-align: left;
	border: none !important;
}
.qa-faqs button:hover,
.qa-faqs button:active,
.qa-faqs button:focus {
	text-decoration:underline;
	color: #0021A5;
	cursor:pointer; 
	border: none !important;
}

.qa-faqs button.open, .qa-faqs .open {
}
.qa-faqs button.open:hover, .qa-faqs .open:hover {
}
.qa-faqs button.open:hover:before, 
.qa-faqs .open:hover:before {
	background-color: #ccc;
}
.qa-faqs button:before {
	content:"+";
	text-align: center;
/*	line-height:30px;*/
	background: transparent; 
	display:inline-block;
	font-size: 24px;
	padding:5px 5px 7px 5px;
	width:25px;
	margin-right:10px;
}
.qa-faqs button:hover:before,
.qa-faqs button:active:before,
.qa-faqs button:focus:before {
	background: #cccccc;
	transition:all 0.6s ease;	
}
.qa-faqs button.open:before, .qa-faqs .open:before {
	content:"\2013";
	background: transparent; 
}
.qa-faqs .expand-collapse {
	float:right;
	margin:10px 10px 20px 10px;
	clear:right;
}

.quicksearch {
	float:right;
	margin-bottom:10px;
}
.quicksearch .qs_label {font-size:.9em;}
