/* Navigation for listing that includes all FAQ categories */
.qa-nav {overflow:hidden; }
.qa-nav {
	margin:0;
	padding:0;
}
.qa-nav li {
	float:left; 
	margin-right:5px; 
}
/* FAQs */
.qa-faqs .faqs {
	margin:15px 0; 
	margin-bottom:40px; 
	overflow:hidden;
	clear:both;
}
.qa-faqs dl {
	border-bottom: 1px solid #BFBFBF; 
	margin-bottom:5px;
}

.qa-faqs dt {
	border-top: 1px solid #CCC;
	padding: 20px 0;
	margin:0;
}
.qa-faqs dd {line-height: 1.4em; padding:0 0 25px 5px;}

/* Controls to expand and collapse FAQs */
.qa-faqs button {
	font-weight:bold;
	color: #00529b;
	line-height: 16px;
	background:url(toggle_sprite.png) -40px -81px no-repeat; 
	padding: 0 0 0 25px;	
	font-family: inherit;
	text-transform: none;
	text-align: left;
	border: none !important;
}
.qa-faqs button:hover,
.qa-faqs button:active,
.qa-faqs button:focus {
	text-decoration:underline;
	color: #00529b;
	cursor:pointer; 
	background-position: -120px -2px;	
	border: none !important;
	background-color: transparent;
}
.qa-faqs .expand-collapse {
	float:right;
	margin:10px 10px 20px 10px;
	clear:right;
}
.qa-faqs button.open, .qa-faqs .open {
	background-position:0 -121px;
}
.qa-faqs button.open:hover, .qa-faqs .open:hover {
	background-position:-80px -42px;
}

.quicksearch {
	float:right;
	margin-bottom:10px;
}
.quicksearch .qs_label {font-size:.9em;}
